.fond{
    background-image: url('imagefond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blanc{
    color:white
}

.titre{
    color:darkgray
}