.fond{
    background-image: url('imagefond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blanc{
    color:white
}

.titre{
    color:gray
}

.bord{
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}